body {
    background: #f0f5ff;
    font-family: "Mitr", sans-serif;
    font-weight: 200;
    text-transform: lowercase;
    font-size: calc(16px + 0.4vw);
    line-height: 2;
    letter-spacing: 2.571px;
    color: #3d4757;
}

h1 {
    font-size: calc(30px + 0.4vw);
}

h2 {
    font-size: calc(20px + 0.4vw);
}

#emoji {
    font-size: calc(16px + 1vw);
}

#city-search-field {
    width: 75%;
    border: none;
    background: url("assets/search-icon.png") 0 center no-repeat;
    background-size: calc(14px + 6%);
    padding-left: 55px;
    color: #3d4757;
    font-size: calc(16px + 0.4vw);
    font-weight: 200;
}

#city-search-field:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#submit {
    display: none;
    cursor: pointer;
}

.prev-search-queries {
    line-height: 2;
    cursor: pointer;
    -webkit-transition: 0.2s;
}

.prev-search-queries:hover {
    cursor: pointer;
    background: rgb(255, 240, 211);
    transition: ease-in-out;
    transition-duration: 0.1s;
}

#currentDate {
    font-size: calc(12px + 0.3vw);
}

#city {
    text-decoration: underline;
}

#uv-index {
    border-radius: 12px;
    padding: 5px 10px 5px 10px;
}

#five-day-container {
    line-height: 1;
}

.forecast-tile {
    background: #f0f5ff;
    /* box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2),
        -10px -10px 15px rgba(255, 255, 255, 0.5),
        5px 5px 10px rgba(0, 0, 0, 0.25),
        -5px -5px 10px rgba(255, 255, 255, 0.5); */
    border-radius: 25px;
    width: 170px;
    -webkit-transition: 0.6s;
    margin: 0 auto 30px auto;
    max-width: 170px;
}

.forecast-tile:hover {
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.2),
        -10px -10px 40px rgba(255, 255, 255, 0.65);
    transition: ease-in-out;
    transition-duration: 0.3s;
}

.forecast-img {
    width: 40%;
}

#desktop-spacer {
    height: 12vh;
}

.minw-17 {
    min-width: 17em;
}

.maxw-1200 {
    max-width: 1200px;
}

::-moz-selection {
    background-color: #ba9eb0;
    color: #ffffff;
}

::selection {
    background-color: #ba9eb0;
    color: #ffffff;
}